
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
